.pageTitle{
	text-align: center;
    margin: 1rem;
    font-style: italic;
    font-weight: bold;
}

.backIcon{
	color: #4255c4;
	font-size: 3rem;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0px;
	left: -11px;
}

.iconCard{
	width: 100%;
	margin: 0.5rem;
	text-align: center;
}

.spaceCard{
	margin: 0 auto;
}

.detailCard{
	display: flex;
	flex-shrink: 0;
	margin: 1rem;
}

.icon{
	/* vertical-align: middle; */
	margin: 0 1rem;
}

.title{
	margin: 1rem;
	text-align: center;
	font-weight: bold;
	border-bottom: solid;
	border-radius: 10%;
}

.number{
	display: inline-block;
	overflow: hidden;
	font-weight: bold;
}

.description{
	margin: 0 auto;
	text-align: center;
}

.map{
	flex-grow: 1;
	margin: 1rem;
}

.image{
	width: 100px;
	height: auto;
}

.ownerCard{
	width: 100%;
	margin: 0.5rem;
	text-align: center;
	display: block;
}