<h1 class="title">Σελίδα Διαχείρισης</h1>

<table mat-table [dataSource]="dataSource">

	<ng-container matColumnDef="username">
		<th mat-header-cell *matHeaderCellDef>Username</th>
		<td mat-cell *matCellDef="let element"> {{ element.username }} </td>
	</ng-container>

	<ng-container matColumnDef="eponymo">
		<th mat-header-cell *matHeaderCellDef>Επώνυμο</th>
		<td mat-cell *matCellDef="let element"> {{ element.surname }} </td>
	</ng-container>

	<ng-container matColumnDef="onoma">
		<th mat-header-cell *matHeaderCellDef>Όνομα</th>
		<td mat-cell *matCellDef="let element"> {{ element.onoma }} </td>
	</ng-container>

	<ng-container matColumnDef="select">
		<th mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? selectAllUsers() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
						[aria-label]="checkboxLabel()">
			</mat-checkbox>
		</th>

		<td mat-cell *matCellDef="let row; let i = index">
			<mat-checkbox 	(click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row) : null"
							[checked]="selection.isSelected(row)"
							[aria-label]="checkboxLabel(row, i)">
			</mat-checkbox>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>

<br>
<button mat-raised-button (click)="approveSelectedOwners()" *ngIf="selection.selected.length > 0" style="display:block; margin: 0 auto; background-color: rgb(64, 165, 64)">Έγκριση Επιλεχθέντων</button>
