<h1 mat-dialog-title>Στοιχεία Χρήστη</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="data.username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="data.password">
    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
      <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ακύρωση</button>
  <button mat-raised-button color="primary" (click)="onLogin()" cdkFocusInitial>Σύνδεση</button>
</div>
