<aol-map [logo]="true" (onSingleClick)="setPointerLocation($event)" [width]="width" [height]="height">

	<aol-interaction-default></aol-interaction-default>
	<aol-view [zoom]="zoom">
		<aol-coordinate [x]="longitude" [y]="latitude" [srid]="'EPSG:4326'"></aol-coordinate>
	</aol-view>
	<aol-layer-tile [opacity]="opacity">
		<aol-source-osm></aol-source-osm>
	</aol-layer-tile>

	<aol-layer-vector>
		<aol-source-vector>

			<aol-feature *ngIf="pointerLatitude != null && pointerLongitude != null">
				<aol-geometry-point>
					<aol-coordinate [x]="pointerLongitude" [y]="pointerLatitude" [srid]="'EPSG:4326'"></aol-coordinate>
				</aol-geometry-point>
				<aol-style>
					<aol-style-circle [radius]="7">
						<aol-style-fill [color]="'green'"></aol-style-fill>
					</aol-style-circle>
				</aol-style>
			</aol-feature>

			<aol-feature *ngIf="pointerLatitude != null && pointerLongitude != null">
				<aol-geometry-point>
					<aol-coordinate [x]="pointerLongitude" [y]="pointerLatitude" [srid]="'EPSG:4326'"></aol-coordinate>
				</aol-geometry-point>
				<aol-style>
					<aol-style-icon [src]="image" [anchor]="[0.5, 1]" [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'" [scale]="0.02"
					 [anchorOrigin]="'top-left'">
					</aol-style-icon>
				</aol-style>
			</aol-feature>

		</aol-source-vector>
	</aol-layer-vector>

</aol-map>