<link rel="stylesheet" type="text/css" href="main.component.css">
<div class="navbar">
  <span>BOOKING</span>
<!--  <mat-dialog-actions>-->
<!--    <button mat-raised-button color="primary" (click)="openLoginDialog()">Σύνδεση</button>-->
<!--  </mat-dialog-actions>-->

  <mat-dialog-actions *ngIf="!loggedIn">
    <button mat-raised-button color="primary" (click)="openLoginDialog()">Σύνδεση</button>
  </mat-dialog-actions>

  <button mat-icon-button color="primary" *ngIf="loggedIn" [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{luser?.surname}} {{luser?.name}}</mat-card-title>
        <mat-card-subtitle>{{luser?.email}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <button mat-menu-item (click)="toggleUserDiv()">My Chats</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>

</div>

<div>
  <div *ngFor="let presentation of alluser" class="user" (click)="goToChat(presentation.username)">
    <div *ngIf="presentation.username != check">
      {{presentation.username}}
<!--      <div *ngFor="let currentchat of chatData">-->
<!--          {{currentchat.roomId}}-->
<!--      </div>-->
    </div>

  </div>
</div>

<router-outlet> </router-outlet>
