<link rel="stylesheet" type="text/css" href="main.component.css">
<div class="navbar">
  <span>BOOKING</span>
  <button id="openPopup">Login</button>
</div>

<div id="popup" class="popup">
  <button class="exit-button" id="closePopup">X</button>
  <label for="username">UserName:</label>
  <input type="text" id="username">
  <label for="password">PassWord:</label>
  <input type="password" id="password" >
  <button class="submit-button" id="submitBtn">Submit</button>
</div>

<router-outlet></router-outlet>