<h1 class="title">Αναζήτηση δωματίων</h1>

<div class="searchForm">

	<mat-form-field class="mat-form-field">
		<mat-label>Τοποθεσία</mat-label>
		<input matInput [matAutocomplete]="auto" [formControl]="cityForm" aria-label="Πόλη">
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let option of filtredCities | async" [value]="option.name">
				<span>{{option.name}}</span>
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<mat-form-field class="mat-form-field">
		<mat-label>Ημερομηνίες</mat-label>
		<mat-date-range-input [rangePicker]="picker" [min]="today">
			<input matStartDate placeholder="Start date" [(ngModel)]="startDate">
			<input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="addEvent('change', $event)">
		</mat-date-range-input>
		<mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
		<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-date-range-picker #picker></mat-date-range-picker>
	</mat-form-field>

	<mat-form-field class="mat-form-field">
		<mat-label>Αριθμός Ατόμων</mat-label>
		<input matInput type="number" [(ngModel)]="numPersons" name="numPersons">
	</mat-form-field>

	<br/>

	<button mat-raised-button class="button" (click)="searchRooms()">Search</button>

</div>

<mat-grid-list cols="4" rowHeight="75%">
	<mat-grid-tile *ngFor="let room of rooms; let roomIndex = index;" >
		<mat-card class="card">
			<mat-card-header>
				<mat-card-title> {{ room.description }} </mat-card-title>
			</mat-card-header>
			<img [src]="defaultRoomImages[roomIndex]" class="image">
			<mat-card-content class="align-center">
				<div class="mat-content-item"> <b> Τύπος: 			</b> {{ room.type.name }}			</div>
				<div class="mat-content-item"> <b> Τιμή/Νύχτα:		</b> {{ room.basePricePerNight }}   </div>
				<div class="mat-content-item"> <b> Μονά κρεβάτια:	</b> {{ room.numOfSingleBeds }}  	</div>
				<div class="mat-content-item"> <b> Διπλά κρεβάτια:	</b> {{ room.numOfDoubleBeds }} 	</div>
				<div class="mat-content-item"> <b> Κριτικές:		</b> {{ room.numOfReviews }} 		</div>
				<div class="mat-content-item"> <b> Μέση τιμή:		</b> {{ room.averageReviews }} 		</div>
			</mat-card-content>
			<mat-card-actions class="align-center zeroPadding">
				<button mat-raised-button (click)="reserveRoom(roomIndex)">Λεπτομέριες δωματίου</button>
			</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>