<h1 class="title">Αναζήτηση δωματίων</h1>

<div id="searchComponent">

	<label for="area">Τοποθεσία</label>
	<input id="area" type="text" [(ngModel)]="area" placeholder="e.x. Athens" name="area">

	<label for="startDate">Από</label>
	<input id="startDate" type="date" [(ngModel)]="startDate" name="startDate"  min="{{ today | date:'yyyy-MM-dd' }}">

	<label for="endDate">Εως</label>
	<input id="endDate" type="date" [(ngModel)]="endDate" name="endDate" min="{{ today | date:'yyyy-MM-dd' }}">

	<label for="numPersons">Αριθμός Ατόμων</label>
	<input id="numPersons" type="number" [(ngModel)]="numPersons" name="numPersons">

	<br/>
	<button class="button" (click)="searchRooms()">Search</button>

</div>

<ul>
	<li *ngFor="let room of rooms">
		{{ room.id}} {{ room.basePricePerNight }} {{ room.description }}
	</li>
</ul>