div{
	margin: 3rem;
	text-align: center;
}

label{
	margin: 1rem 1rem 1rem 5rem;
}

button{
	margin: 2rem;
}

.title{
	text-align: center;
}

.image{
	width: 300px;
	height: auto;
}

.card{
	max-width: 300px;
	margin: 1rem;
}

.mat-form-field{
	margin: 1rem;
}

.searchForm{
	border-bottom: solid;	
	border-radius: 3%;
	border-color: lightgray;
	margin: 1rem 1rem 0.5rem 1rem;
}

.mat-content-item{
	margin: 0.5rem;
	padding: 0;
}

.align-center{
	display: block;
	text-align: center;
}

.zeroPadding{
	padding: 0;
}