<mat-card>
  <mat-card-header>
    <mat-card-title>Συνομιλία</mat-card-title>
  </mat-card-header>
  <mat-card-content style="max-width: 500px">
    <div class="chat-container" style="max-height: 500px; overflow-y: scroll;">
              <div *ngFor="let msg of messageList"  >

                <div class="d-flex justify-content-end mb-4" *ngIf="msg.senderEmail==senderCheck">
                  <div class="msg_cotainer_send">
                    {{msg.replymessage}}
                    <span class="msg_time_send">{{ (msg.time | date:'HH:mm':'Europe/Athens') }}</span>
                  </div>
                  <div class="img_cont_msg">
                      <span class="rounded-circle user_img_msg text_inside_circle2">{{msg.senderEmail.substring(0,1)}}</span>
                  </div>
                </div>


                <div class="d-flex justify-content-start mb-4" *ngIf="msg.senderEmail!=senderCheck">
                  <div class="msg_cotainer">
                    {{msg.replymessage}}
                    <span class="msg_time">{{ (msg.time | date:'HH:mm':'Europe/Athens') }}</span>
                  </div>
                  <div class="img_cont_msg">
                      <span class="rounded-circle user_img_msg text_inside_circle3">{{msg.senderEmail.substring(0,1)}}</span>
                  </div>
                </div>

              </div>

      </div>
  </mat-card-content>
  <mat-card-actions>
    <form [formGroup]="chatForm">
      <mat-form-field class="message-input">
        <textarea matInput placeholder="Type your message..." formControlName="replymessage" (keydown.enter)="sendMessage()"></textarea>
      </mat-form-field>
      <button mat-icon-button (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
      <button mat-icon-button (click)="routeX()">
        <mat-icon>logout</mat-icon>
      </button>
    </form>
  </mat-card-actions>
</mat-card>

